{% extends "templates/base.twig" %}

{% set page_title = "Registro" %}
{% set page_meta_description = "Regístrate ahora, es gratis!" %}
{% set page_meta_robots = "index, follow" %}

{% block body %}

    <div class="row mt-5">
        <div class="col card">

            <div class="card-header">
                Registro de usuarios
            </div>

            <div class="card-body">

                {{ TwigFunctions('flash', ['errors', 'danger']) | raw }}

                <form action="{{ TwigFunctions('base_url', 'register') }}" method="POST" novalidate>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre</label>
                        <input autocomplete="off" value="{{ TwigFunctions('flash', ['post']).name }}" type="text" class="form-control" name="name" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input autocomplete="off" value="{{ TwigFunctions('flash', ['post']).email }}" type="email" class="form-control" name="email" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input autocomplete="off" type="password" class="form-control" name="password" />
                    </div>

                    <button type="submit" class="btn btn-primary">Registrarme</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
